<main role="main">


    <div class="jumbotron">
        <!--<div class="container">
          <h1 class="display-3">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>-->
        <div class="container">
            <h1 class="display-3">欢迎来到Weibo</h1>
            <p>这是一个基于 Node.js 的微博系統。</p>
            <p>
                <a class="btn btn-primary btn-large" href="/users/toLogin">登录</a>
                <a class="btn btn-large" href="/users/toRegister">注册</a>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>南歌子·柳色遮楼暗</h2>
                <p>柳色遮楼暗，桐花落砌香。画堂开处远风凉。高卷水晶帘额、衬斜阳。</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>醉眠</h2>
                <p>山静似太古，日长如小年。
                    馀花犹可醉，好鸟不妨眠。
                    世味门常掩，时光簟已便。
                    梦中频得句，拈笔又忘筌。</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>陋室铭</h2>
                <p>
                    山不在高，有仙则名。水不在深，有龙则灵。斯是陋室，惟吾德馨。苔痕上阶绿，草色入帘青。谈笑有鸿儒，往来无白丁。可以调素琴，阅金经。无丝竹之乱耳，无案牍之劳形。南阳诸葛庐，西蜀子云亭。孔子云：何陋之有？</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div>

</main>