<form class="form-horizontal" method="post" action="/users/login">
    <div class="text-center mb-4">
        <img class="mb-4" src="/images/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
    </div>

    <% if (error) { %>
        <div class="form-label-group">
            <div class="alert alert-danger" role="alert"><%= error %></div>
        </div>
    <% } %>

    <div class="form-label-group">
        <input type="text" id="username" name="username" class="form-control" placeholder="用户名" required autofocus>
        <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
        <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
</form>